<div class="chat-wrapper">
  <div class="chat-header">Job Assistant</div>

  <div class="chat-messages" #scrollContainer>
    @for (msg of messages; track $index) {
      <div
        class="chat-message"
        [ngClass]="msg.sender === 'user' ? 'user-msg' : 'bot-msg'"
      >
        <div class="message-bubble">
          {{ msg.text }}
        </div>
      </div>
    }

    <div *ngIf="isLoading" class="chat-message bot-msg">
      <div class="message-bubble typing">
        <span>🤖 Thinking</span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>

  <div class="chat-input-wrapper">
    <div class="chat-input-box">
      <input
        type="file"
        #fileInput
        (change)="onFileSelected($event)"
        style="display: none"
        accept=".pdf,.doc,.docx"
      />

      <button
        class="attach-btn"
        (click)="fileInput.click()"
        title="Upload Resume"
      >
        <i class="bi bi-paperclip fs-5"></i>
      </button>

      <input
        [(ngModel)]="userInput"
        placeholder="Type a message or attach resume..."
        (keydown)="handleKeyDown($event)"
      />
      <button (click)="sendMessage()" [disabled]="isLoading">
        <i class="bi bi-send"></i>
      </button>
    </div>
  </div>
</div>
