<div class="chat-wrapper">
  <!-- HEADER -->
  <div class="chat-header">Job Assistant</div>

  <!-- MESSAGES -->
  <div class="chat-messages" #scrollContainer>
    @for (msg of messages; track $index) {
      <div
        class="chat-message"
        [ngClass]="msg.sender === 'user' ? 'user-msg' : 'bot-msg'"
      >
        <div class="message-bubble">
          {{ msg.text }}
        </div>
      </div>
    }

    <!-- Typing -->
    <div *ngIf="isLoading" class="chat-message bot-msg">
      <div class="message-bubble typing">
        <span>🤖Thinking</span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>

  <!-- FILE UPLOAD -->
  <div class="chat-upload" *ngIf="!resumeUploaded">
    <input
      type="file"
      (change)="onFileSelected($event)"
      class="form-control form-control-sm"
    />
  </div>

  <!-- INPUT -->
  <div class="chat-input-wrapper">
    <div class="chat-input-box">
      <input
        [(ngModel)]="userInput"
        placeholder="Type your message..."
        (keydown)="handleKeyDown($event)"
      />

      <button (click)="sendMessage()">
        <i class="bi bi-send"></i>
      </button>
    </div>
  </div>
</div>
